<%= link_to 'Вход', new_user_session_path %>
<%= link_to 'Регистрация', new_user_registration_path %>

<% if current_user.present? %>
  <div style="height: 100; width: 100; background-color: red;">
    Юзер есть
  </div>
<% else %>
  Юзера нет
<% end %>

